{% extends "shop/base/base.html" %}
{% load static %}


{% block content %}

    {% include "shop/cabinet/_change_phone.html" %}
    {#    <section class="collected-score text-center">#}
    {#        <h2>Накопительный бонус </h2>#}
    {#        <h2 class="score">1 234 бонусных баллов</h2>#}
    {#    </section>#}

    <section class="form-wrapper">
        <h2 class="text-center mb-5">Личные данные</h2>
        <form action="{% url 'shop:cabinet' %}"
              method="POST"
              class="form form--default">
            <div class="fields">
                <label class="form__input">
                    <span>Ваше имя</span>
                    <input type="text"
                           value="{{ form.first_name.value }}"
                           name="first_name">
                </label>
                <label class="form__input">
                    <span>Номер телефона</span>
                    <div class="input-group mb-3">
                        <input type="tel"
                               class="form-control"
                               name="phone"
                               value="{{ form.phone.value|default:"" }}"
                               readonly
                        >
                        <div class="input-group-append">
                            <button id="sign-in"
                                    class="btn btn-outline-secondary"
                                    style="font-size: 1.3rem;">Изменить
                            </button>
                        </div>
                    </div>
                </label>
                <label class="form__input">
                    <span>Электронная почта</span>
                    <input type="email" value="{{ form.email.value }}" name="email">
                </label>
                <label class="form__input">
                    <span>Дата рождения</span>
                    <input type="date"
                           value="{{ form.birthday.value }}"
                           name="birthday">
                </label>
                {% for addr in form.addresses.value %}
                    <label class="form__input address-field">
                        <span>Адрес для доставки</span>
                        <div class="input-group mb-3">
                            <input type="text"
                                   name="addresses"
                                   class="form-control"
                                   value="{{ addr.full_address }}"
                                   disabled>
                            <div class="input-group-append">
                                <a href="" class="delete-address" data-addr-id="{{ addr.id }}" style="padding-left: 10px;"><img src="{% static 'img/close_black.svg' %}"
                                                alt="close"></a>
                            </div>
                        </div>
                    </label>
                {% endfor %}
            </div>

            <div class="form__submit mt-5">
                <button type="submit" class="submit btn btn--warning">Сохранить</button>
            </div>
        </form>
    </section>

{% endblock %}
