<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h2 class="mb-5">О нашей <br>
                    кондитерской </h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/static/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-5">
                <p class="my-5">
                    Основная наша идея — все готовить из тех продуктов, которые мы
                    готовы дать нашим детям. Они —
                    наши главные дегустаторы, все пробуют, и для нас очень важно их
                    мнение. Если ваниль — то
                    стручковая, а не ванилин. Если масло — то хорошее, импортное, 82,5
                    процента, а не спред
                    или пальмовое масло. Никаких сметанных продуктов, только настоящая
                    30-процентная сметана. Мы
                    контролируем все процессы, вместе с командой прорабатываем рецепты,
                    технологические карты,
                    проводим дегустацию.
                </p>
                <a href="#" class="btn btn--default">Подробнее</a>
            </div>
        </div>
    </div>
</section>