{% load static %}

{% if promoted_products %}
    <section class="items-carousel" id="carousel">
        <h2 class="text-center my-5">Новое и популярное</h2>
        <div class="carousel-wrap">
            <div class="buttons">
                <button class="prev">
                    <img src="{% static 'img/arrow-left.svg' %}" alt="">
                </button>
                <button class="next">
                    <img src="{% static 'img/arrow-right.svg' %}" alt="">
                </button>
            </div>
            <div class="container">
                <div class="carousel overflow-visible">
                    {% for product in promoted_products %}
                        {% include "shop/index/_product_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
