{% for category in categories %}
    <section class="items-list" id="eclairs">
        <div class="container">
            <h2 class="text-center">{{ category.name }}</h2>
            <div class="row mt-5">
                {% for product in category.products %}
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                        <div class="item item--default">
                            <a href="/p/{{ product.article }}" class="item__picture">
                                <img src="{{ product.image.url }}" alt="">
                                {% if product.price_discounted %}
                                    <span class="tip">Акция</span>
                                {% endif %}
                            </a>
                            <div class="item__summary">
                                <div class="item__price">
                                    {% if product.price_discounted %}
                                        <span class="price-old">{{ product.price }}</span>
                                        <span class="price">{{ product.price_discounted }}</span>
                                    {% else %}
                                        <span class="price">{{ product.price }}</span>
                                    {% endif %}
                                    <span class="currency">руб.</span>
                                </div>
                                <div class="item__name">
                                    <span>{{ product.name }}</span>
                                </div>
                                <div class="item__actions" data-item="0">
                                    <div class="item__quantity">
                                        <button class="item__btn item__btn--minus">-
                                        </button>
                                        <span class="item__quantity-text">1</span>
                                        <button class="item__btn item__btn--plus">+
                                        </button>
                                    </div>
                                    <a href="#" class="btn btn--default">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
{##}
{#<section class="items-list" id="eclairs">#}
{#    <div class="container">#}
{#        <h2 class="text-center">Эклеры</h2>#}
{##}
{#        <div class="row mt-5">#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-1.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-2.jpg" alt="">#}
{#                        <span class="tip tip--default">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-3.jpg" alt="">#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-4.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-5.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-6.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-1.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-2.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-3.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-4.jpg" alt="">#}
{#                        <span class="tip tip--default">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-5.jpg" alt="">#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-6.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-1.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-2.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-3.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">#}
{#                <div class="item item--default">#}
{#                    <a href="/p/eclair" class="item__picture">#}
{#                        <img src="/static/img/item-4.jpg" alt="">#}
{#                        <span class="tip">Акция</span>#}
{#                    </a>#}
{#                    <div class="item__summary">#}
{#                        <div class="item__price">#}
{#                            <span class="price-old">299,00</span>#}
{#                            <span class="price">199,00</span>#}
{#                            <span class="currency">руб.</span>#}
{#                        </div>#}
{#                        <div class="item__name">#}
{#                            <span>Карамельный</span>#}
{#                        </div>#}
{#                        <div class="item__actions" data-item="0">#}
{#                            <div class="item__quantity">#}
{#                                <button class="item__btn item__btn--minus">-</button>#}
{#                                <span class="item__quantity-text">1</span>#}
{#                                <button class="item__btn item__btn--plus">+</button>#}
{#                            </div>#}
{#                            <a href="#" class="btn btn--default">В корзину</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}