<div class="item item--default">
    <a href="/p/{{ product.article }}" class="item__picture">
        <img src="{{ product.image.url }}" alt="">
        {% if product.price_discounted %}
            <span class="tip">Акция</span>
        {% endif %}
    </a>
    <div class="item__summary">
        <div class="item__price">
            {% if product.price_discounted %}
                <span class="price-old">{{ product.price }}</span>
                <span class="price">{{ product.price_discounted }}</span>
            {% else %}
                <span class="price">{{ product.price }}</span>
            {% endif %}
            <span class="currency">руб.</span>
        </div>
        <div class="item__name">
            <span>{{ product.title }}</span>
        </div>
        <div class="item__actions" data-item="0">
            <div class="item__quantity">
                <button class="item__btn item__btn--minus" @click="setCartAmount('donat-yabloko', -1)">-
                </button>
                <span class="item__quantity-text">1</span>
                <button class="item__btn item__btn--plus" @click="setCartAmount('donat-yabloko', 1)">+
                </button>
            </div>
            <a href="#" class="btn btn--default">В корзину</a>
        </div>
    </div>
</div>