{% for category in categories %}
    <section class="items-list" id="{{ category.name|lower|slugify }}">
        <div class="container">
            <h2 class="text-center">{{ category.name }}</h2>
            <div class="row mt-5">
                {% for product in category.products %}
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                        {% include "shop/index/_product_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
