{% load static %}

{% if promoted_products %}
    <section class="items-carousel" id="carousel">
        <h2 class="text-center my-5">Новое и популярное</h2>
        <div class="carousel-wrap">
            <div class="buttons">
                <button class="prev">
                    <img src="{% static 'img/arrow-left.svg' %}" alt="">
                </button>
                <button class="next">
                    <img src="{% static 'img/arrow-right.svg' %}" alt="">
                </button>
            </div>
            <div class="container">
                <div class="carousel overflow-visible">
                    {% for product in promoted_products %}
                        <div class="item item--default">
                            <a href="/p/{{ product.article }}" class="item__picture">
                                <img src="{{ product.image.url }}" alt="">
                                {% if product.price_discounted %}
                                    <span class="tip">Акция</span>
                                {% endif %}
                            </a>
                            <div class="item__summary">
                                <div class="item__price">
                                    {% if product.price_discounted %}
                                        <span class="price-old">{{ product.price }}</span>
                                        <span class="price">{{ product.price_discounted }}</span>
                                    {% else %}
                                        <span class="price">{{ product.price }}</span>
                                    {% endif %}
                                    <span class="currency">руб.</span>
                                </div>
                                <div class="item__name">
                                    <span>{{ product.title }}</span>
                                </div>
                                <div class="item__actions" data-item="0">
                                    <div class="item__quantity">
                                        <button class="item__btn item__btn--minus">-
                                        </button>
                                        <span class="item__quantity-text">1</span>
                                        <button class="item__btn item__btn--plus">+
                                        </button>
                                    </div>
                                    <a href="#" class="btn btn--default">В корзину</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
