.cake-constructor {

  aside {
    background: #f6f6f7;
  }
  .container {
    max-width: 1440px;
  }
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .image {
      display: block;
      width: 80px;
      flex-shrink: 0;
      height: 80px;
      margin: 0 20px 20px 0;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
      border-radius: 6px;
      background: #FFFFFF no-repeat 50% 50%;
      background-size: cover;
    }
  }

  .form__field-title,
  .title {
    color: #2c2724;
    font-size: 2rem;
    line-height: 1.67;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .cake-filling-item {
    display: block;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    flex-shrink: 0;
    height: auto;
    margin: 0 20px 20px 0;
    position: relative;

    &__image {
      display: block;
      width: 60px;
      height: 60px;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      margin: 0 0 5px;
    }

    &__remove {
      appearance: none;
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      box-shadow: none;
      outline: none;
      background-color: transparent;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAP1BMVEUAAACwoKCwoKCsoJysoJiwoJiwoKCwoJitoZusopqtopusopywoJiwoJjAwKCsoZqwqKDw8PD////o6Ojo4ODFTef8AAAAD3RSTlMAUECQiIh46PDw2MCo4AjLqlfwAAAAnUlEQVR4AYWTxQGAQBADF3eCXP+t4hYs80HmdMVO/KDIsywvAt8e1HGCgySu2XoViMq72ggPotOWeKH8nEvzPXyw7F9XX7qqJx1jwfUNNpreYSGe9Hbfvms337Rdv93fzMf+c/L0MuFbAPJkEVgB8mRRWA7yZJFbBvJkkf3rVCyujvZ7sVCERQRVpEQkVJSDKCZRiqKQRRuIJhItOAKqjimlJm1kHwAAAABJRU5ErkJggg==);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      transition: all .27s ease;
      cursor: pointer;
    }

    &__name {
      display: block;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 20px;
      color: #2C2724;
      text-align: left;
    }
  }

  .range-wrap__descr {
    color: #2c2724;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 400;
    font-style: italic;
  }

  //RANGE SLIDER
  .range-wrap {
    border-radius: 0;
    border: 1px solid #1a1a1a;
    background: none;
    height: 40px;
    margin: 15px 0;

    &__cover {
      width: calc(100% - (70px * 2));
      margin: 0 auto;
    }

    .irs {
      height: 40px;
    }

    .irs-with-grid {
      height: 60px;
    }

    .irs-line {
      height: 30px;
      border-radius: 0;
      background: transparent;
    }

    .irs-line-left {
      display: none;
    }

    .irs-line-mid {
      display: none;
    }

    .irs-line-right {
      display: none;
    }

    .irs-bar {
      display: none;
    }

    .irs-bar-edge {
      display: none;
    }

    .irs-shadow {
      display: none;
    }

    .lt-ie9 .irs-shadow {
      filter: alpha(opacity=25);
    }

    .irs-handle {
      display: block;
      width: 24px;
      height: calc(100% - 1px);
      top: 0;
      background: #000;

      i {
        display: none;
      }
    }

    .irs-min {
      left: -55px;
    }

    .irs-max {
      right: -55px;
    }

    .irs-min, .irs-max {
      color: #2c2724;
      font-weight: 400;
      height: 22px;
      line-height: 22px;
      text-shadow: none;
      font-size: 1.6rem;
      top: 4px;
      padding: 0;
      background: transparent;
      border-radius: 0;
      visibility: visible !important;
      z-index: 2;
    }

    .irs-from, .irs-to, .irs-single {
      display: none;
    }

    .irs-from:after, .irs-to:after, .irs-single:after {
      display: none;
    }


    .irs-grid-pol {
      background: #e1e4e9;
    }

    .irs-grid-text {
      color: #999;
    }
  }


  .form__tip {
    font-size: 1.7rem;
  }

  .privacy-policy {
    margin-top: 20px;
    color: #2c2724;
    font-size: 1.7rem;
    line-height: 1.25;
    font-weight: 400;
  }

  .cake-order-info__title {
    display: block;
    margin: 0 0 22px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.2;
    color: #2c2724;
  }
  .cake-order-info__terms {
    display: block;
    margin: 0 0 30px;
    padding: 0;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 30px;
  }
  .cake-order-info__terms>span {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 30px;
    color: #2C2724;
  }
  .get-back-btn-link {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .delivery-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  .delivery-about_checkout {
    margin: 17px 0;
  }
  .delivery-about__box {
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .delivery-about__title {
    color: #2c2724;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 400;
  }
  .delivery-about__info {
    color: #2c2724;
    font-size: 2.5rem;
    line-height: 1.43;
    font-weight: 300;
  }
  .checkout-info-text {
    display: block;
    margin: 0 0 17px;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 30px;
    color: #2C2724;
  }
}

.feature-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
  height: 100%;
  padding: 20px;
  overflow: auto;

  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    z-index: 3;
  }
}
.feature-filling {

  &__wrap {

  }

  &__item {
    position: relative;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    height: 100%;
    padding-bottom: 60px;

    .btn {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    &[data-feature-standard-design] {
      img {
        height: 200px;
      }
    }

    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    span.selected {
      display: none;
    }

    &-title {
      font-size: 2rem;
      margin: 10px 0;
      padding: 0 10px;
    }
    &-description {
      padding: 0 10px 15px;
      font-size: 1.5rem;
    }
    &-btn {
      font-size: 1.4rem;
      width: 100%;
    }

    &.selected {

      .btn {
        background: $default-c;
        color: $white-c;
      }

      span.selected {
        display: inline;
      }
      span.not-selected {
        display: none;
      }
    }
  }
}
