{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="about-idea">
        <div class="container">
            <h2 class="text-center mb-5">
                Основная наша идея
            </h2>
            <p class="text-center mb-5">
                Основная наша идея — все готовить из тех продуктов, которые мы готовы
                дать нашим детям. Они — наши главные
                дегустаторы, все пробуют, и для нас очень важно их мнение. Если ваниль —
                то стручковая, а не ванилин. Если
                масло
                — то хорошее, импортное, 82,5 процента, а не спред или пальмовое масло.
                Никаких сметанных продуктов, только
                настоящая 30-процентная сметана. Мы контролируем все процессы, вместе
                с командой прорабатываем рецепты,
                технологические карты, проводим дегустацию.
            </p>
            <div class="about-img__wrap mb-5">
                <img src="/static/img/about-img.jpg" alt="">
                <img src="/static/img/about-img-2.jpg" alt="">
                <img src="/static/img/about-img-3.jpg" alt="">
                <img src="/static/img/about-img-4.jpg" alt="">
            </div>
            <p class="text-center">
                Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года.
                До этого моя супруга занималась
                хореографией, а я работал в строительстве. Однажды жена хотела заказать
                торт на день рождения нашей дочери,
                но не знала, где взять нормальный десерт из натуральных ингредиентов, и
                в итоге испекла его сама. Торт
                гостям понравился, и у Лилии появились первые заказы. Потом все
                закрутилось, и было решено заняться этим
                всерьез. А когда открывали первую кондитерскую, сразу знали, что это
                будет не единственная точка.
            </p>
        </div>
    </section>

{% endblock %}
