{% extends "shop/base/base.html" %}
{% load static %}


{% block content %}

    <section class="collected-score text-center">
        <h2>Накопительный бонус </h2>
        <h2 class="score">1 234 бонусных баллов</h2>
    </section>

    <section class="form-wrapper">
        <h2 class="text-center mb-5">Личные данные</h2>
        <form action="#" class="form form--default">
            <div class="fields">
                <label class="form__input">
                    <span>Ваше имя</span>
                    <input type="text">
                </label>
                <label class="form__input">
                    <span>Номер телефона</span>
                    <input type="tel">
                </label>
                <label class="form__input">
                    <span>Электронная почта</span>
                    <input type="email">
                </label>
                <label class="form__input">
                    <span>Дата рождения</span>
                    <input type="date">
                </label>
                <label class="form__input address-field">
                    <span>Адрес для доставки</span>
                    <input type="text">
                </label>
            </div>
            <a href="#" class="btn btn--default add-address">Добавить адрес</a>
            <div class="form__submit mt-5">
                <button type="submit" class="submit btn btn--warning">Сохранить</button>
            </div>
        </form>
    </section>

{% endblock %}