{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="hero hero--small">
    <h1>Торт на заказ</h1>
    <p>Отвлекитесь от суеты рабочих будних, бешеного ритма города и проведите время в одной из наших кондитерских.
        Насладитесь классическими тортами.</p>
</section>

<section class="cake-form">
    <div class="container">
        <h2 class="text-center mb-5">Выберите форму торта</h2>
        <div class="categories__wrap">
            <div class="categories__item" style="background-image: url({% static 'img/cake-author.jpg' %}">
                <a href="{% url 'shop:cake-constructor' %}">
                    <span class="categories__item-name">Авторские</span>
                    <span class="categories__item-price">
                        от 6 000 ₽ / кг
                    </span>
                </a>
            </div>
            <div class="categories__item" style="background-image: url({% static 'img/cake-standard.jpg' %})">
                <a href="#">
                    <span class="categories__item-name">Стандартные</span>
                    <span class="categories__item-price">
                        от 6 000 ₽ / кг
                    </span>
                </a>
            </div>
        </div>
    </div>

</section>

{% endblock %}