{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="cake-constructor">
        <div class="container">
            <h2>Заказать авторский торт</h2>

            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <form action="{% url 'shop:cake-constructor' %}"
                          id="cake-submit-form"
                          method="POST">
                        <script>
                            function onSubmit(token) {
                                document.getElementById("cake-submit-form").submit();
                            }
                        </script>


                        <input type="hidden" id="design" name="cake_design">
                        <input type="hidden" name="cake_design_link" id="design_link"/>
                        <input type="hidden"
                               id="feature-fill"
                               name="cake_toppings">
                        <input type="hidden"
                               id="feature-decor"
                               name="cake_decors">
                        <input type="hidden"
                               id="feature-postcard"
                               name="cake_postcards">

                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <div class="title">
                                    Дизайн торта
                                </div>
                                {{ form.non_field_errors }}
                                {{ form.cake_design.errors }}
                                <div class="images cake-design-images">

                                </div>
                                <a href="#"
                                   class="btn btn--default"
                                   data-feature-select="design">Выбрать дизайн</a>
                            </div>
                            <div class="col-lg-6 mt-xl-0 mt-4">
                                <div class="title">
                                    Начинка торта
                                </div>
                                {{ form.cake_toppings.errors }}
                                <div class="images feature-fill-images">

                                </div>
                                <a href="#"
                                   class="btn btn--default"
                                   data-feature-select="filling">Выбрать начинку</a>
                            </div>
                            {#                            <div class="col-lg-6 mt-4">#}
                            {#                                <div class="title">#}
                            {#                                    Декор торта#}
                            {#                                </div>#}
                            {#                                <div class="images feature-decor-images">#}
                            {##}
                            {#                                </div>#}
                            {#                                <a href="#"#}
                            {#                                   class="btn btn--default"#}
                            {#                                   data-feature-select="decor">Выбрать декор</a>#}
                            {#                            </div>#}
                            {#                            <div class="col-lg-6 mt-4">#}
                            {#                                <div class="title">#}
                            {#                                    Открытка торта#}
                            {#                                </div>#}
                            {#                                <div class="images feature-postcard-images">#}
                            {##}
                            {#                                </div>#}
                            {#                                <a href="#"#}
                            {#                                   class="btn btn--default"#}
                            {#                                   data-feature-select="postcard">Выбрать#}
                            {#                                    открытку</a>#}
                            {#                            </div>#}
                        </div>
                        <div class="fields">
                            <div class="title mt-4">Вес торта —
                                <span class="cake-weight">3</span>кг
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6">
                                    <div class="range-wrap">
                                        <div class="range-wrap__cover">
                                            <input type="text"
                                                   class="js-rangeInput"
                                                   data-min-weight="3"
                                                   data-max-weight="100"
                                                   name="weight"
                                                   data-from="1.5">
                                        </div>
                                        <div class="range-wrap__descr">Примерно на <span
                                                class="peoples">20</span> человек
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 d-flex align-center">
                                    <span class="form__tip">Минимальный срок изготовления − 4 дня</span>
                                </div>
                            </div>
                            <div class="title">Контактные данные</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input">
                                        <span>Ваше имя</span>
                                        <input type="text" name="name" required>
                                        {{ form.name.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input">
                                        <span>Номер телефона</span>
                                        <input type="tel" name="phone" required>
                                        {{ form.phone.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input">
                                        <span>Электронная почта</span>
                                        <input type="email" name="email" required>
                                        {{ form.email.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input">
                                        <span>Дата рождения</span>
                                        <input type="date" name="birthdate">
                                        {{ form.birthdate.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="title">Доставка</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input address-field">
                                        <span>Адрес для доставки</span>
                                        <input type="text" name="address" required>
                                        {{ form.address.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="form__input">
                                        <span>Дата доставки</span>
                                        <input type="date"
                                               name="delivery_date"
                                               required>
                                        {{ form.delivery_date.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-2">
                                    <label class="form__input">
                                        <span>Время доставки</span>
                                        <input type="time"
                                               name="delivery_time"
                                               required>
                                        {{ form.delivery_time.errors }}
                                    </label>
                                </div>
                                <div class="col-lg-4 d-flex align-center">
              <span class="form__tip">Забрать торт вы сможете
              в любом нашем ресторане
              с 10:00 до 23:00.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form__input">
                                        <span>Комментарий</span>
                                        <textarea name="comment"></textarea>
                                        {{ form.comment.errors }}
                                    </label>
                                </div>
                            </div>
                            <button class="g-recaptcha form-submit-btn btn btn--warning"
                                    data-sitekey="6LcAvdMaAAAAAOQQTZfIcXPCvZQ7-tzfdXkwH2jU"
                                    data-callback='onSubmit'
                                    data-action='submit'>Заказать
                            </button>
                            <div class="privacy-policy">
                                Нажимая на кнопку, вы даете согласие <br>
                                <a href="{% static 'docs/privacy_eclair.pdf' %}"
                                   target="_blank"
                                   class="privacy-policy__link">на обработку своих
                                    персональных
                                    данных.</a>
                            </div>
                        </div>
                        <div class="feature-modal feature-postcard">
                            <div class="feature-filling__wrap row">
                                {% for postcard in cake_postcards %}
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div data-feature-postcard="{{ postcard.id }}"
                                             class="feature-filling__item">
                                            <img src="{{ postcard.image.url }}" alt="">
                                            <h4 class="feature-filling__item-title">
                                                {{ postcard.title }}
                                            </h4>
                                            <a href="#"
                                               data-feature-postcard="{{ postcard.id }}"
                                               class="feature-filling__item-btn btn btn--default">
                                                <span class="not-selected">выбрать</span>
                                                <span class="selected">выбрано</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feature-modal feature-decor">
                            <div class="feature-filling__wrap row">
                                {% for decor in cake_decors %}
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div data-feature-decor="{{ decor.id }}"
                                             class="feature-filling__item">
                                            <img src="{{ decor.image.url }}" alt="">
                                            <h4 class="feature-filling__item-title">
                                                {{ decor.title }}
                                            </h4>
                                            <a href="#"
                                               data-feature-decor="{{ decor.id }}"
                                               class="feature-filling__item-btn btn btn--default">
                                                <span class="not-selected">выбрать</span>
                                                <span class="selected">выбрано</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feature-modal feature-filling">
                            <div class="feature-filling__wrap row">
                                {% for cake_topping in cake_toppings %}
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div data-feature-fill="{{ cake_topping.id }}"
                                             class="feature-filling__item">
                                            <img src="{{ cake_topping.image.url }}"
                                                 alt="">
                                            <h4 class="feature-filling__item-title">
                                                {{ cake_topping.title }}
                                            </h4>

                                            <a href="#"
                                               data-feature-fill="{{ cake_topping.id }}"
                                               class="feature-filling__item-btn btn btn--default">
                                                <span class="not-selected">выбрать</span>
                                                <span class="selected">выбрано</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feature-modal feature-design">
                            <div class="feature-filling__wrap">
                                <div class="tab-group my-4">
                                    {% for category in cake_designs_by_category %}
                                        <a href="#"
                                           class="tab-group__button {% if forloop.first %}active{% endif %}"
                                           data-tab="{{ forloop.counter }}">{{ category }}</a>
                                    {% endfor %}
                                    <a href="#"
                                       class="tab-group__button"
                                       data-tab="upload-tab">Загрузить
                                        ваш вариант</a>
                                </div>
                                {% for designs in cake_designs_by_category.values %}
                                    <div class="row {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.counter }}">
                                        {% for design in designs %}
                                            <div class="col-lg-4 col-sm-6 mb-4">
                                                <div data-feature-design="{{ design.id }}"
                                                     class="feature-filling__item">
                                                    <img src="{{ design.image.url }}"
                                                         alt="">
                                                    <h4 class="feature-filling__item-title">
                                                        {{ design.title }}
                                                    </h4>
                                                    <a href="#"
                                                       data-feature-design="{{ design.id }}"
                                                       class="feature-filling__item-btn btn btn--default">
                                                        <span class="not-selected">выбрать</span>
                                                        <span class="selected">выбрано</span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <div class="row" data-tab="upload-tab">
                                    <div class="col-12">
                                        <h2 class="mb-4">Загрузите ваш вариант</h2>
                                        <div class="dropzone-wrap">
                                            <div class="dropzone-previews"></div>
                                            <div action="/api/empty"
                                                 class="dropzone dz-clickable"
                                                 id="dropzone">
                                                <div class="dz-default dz-message"><span><div
                                                        class="dropzone-wrap__placeholder"><i
                                                        class="icon-dropzone"></i><div
                                                        class="dropzone-wrap__info">Загрузить свой дизайн</div><div
                                                        class="dropzone-wrap__descr">Перетащите сюда jpg или png файл не более 5 МБ</div></div></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <aside class="col-lg-3 col-md-4 offset-md-1 offset-lg-0 pt-4 mt-4 mt-xl-0">
                    <span class="cake-order-info__title">Торты авторского дизайна и любого уровня сложности.</span>
                    <div class="cake-order-info__terms">
                        Срок изготовления
                        <span>от 4 дней</span>
                    </div>
                    <div class="cake-order-info__terms">
                        Вес
                        <span>от 3 кг</span>
                    </div>
                    <div class="cake-order-info__terms">
                        Дизайн
                        <div class="images cake-design-images">

                        </div>
                    </div>
                    <div class="cake-order-info__terms">
                        Начинка
                        <div class="images feature-fill-images">

                        </div>
                    </div>
                    {#                    <div class="cake-order-info__terms">#}
                    {#                        Декор#}
                    {#                        <div class="images feature-decor-images">#}
                    {##}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="cake-order-info__terms">#}
                    {#                        Открытки#}
                    {#                        <div class="images feature-postcard-images">#}
                    {##}
                    {#                        </div>#}
                    {#                    </div>#}
                    <a class="get-back-btn-link btn btn--default"
                       href="javascript:void(0);">Вернуться к оформлению</a>
                    <div class="delivery-about delivery-about_checkout">
                        <div class="delivery-about__box">
                            <div class="delivery-about__title">Заказы принимаются</div>
                            <div class="delivery-about__info">до 16:00</div>
                        </div>
                        <div class="delivery-about__box">
                            <div class="delivery-about__title">Предоплата</div>
                            <div class="delivery-about__info">100%.</div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </section>

{% endblock %}
