{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}
    <section class="order">
        <div class="container container--order">
            <h2 v-if="cartTotalAmount > 0" class="text-center my-5">Корзина</h2>
            <h2 v-else class="text-center my-5">Корзина пуста</h2>
            <div class="order__form">
                {% for item in cart_items %}
                    <transition name="slide-right">
                        <div class="item item--order"
                             v-if="getInCartAmount('{{ item.product.article }}') > 0">
                            <div class="item__summary">
                                <a href="/p/{{ item.product.article }}"
                                   class="item__picture">
                                    <img src="{{ item.product.image.url }}" alt="">
                                </a>
                                <div class="item__name">
                                    <span>{{ item.product.title }}</span> <br>
                                    <small class="item__category">{{ item.product.category.title }}</small>
                                </div>
                                <div class="item__actions">
                                    <div class="item__quantity">
                                        <button class="item__btn item__btn--minus"
                                                @click="incrementCartAmount('{{ item.product.article }}', -1)">
                                            -
                                        </button>
                                        <span class="item__quantity-text">[[getInCartAmount('{{ item.product.article }}')]]</span>
                                        <button class="item__btn item__btn--plus"
                                                @click="incrementCartAmount('{{ item.product.article }}', 1)">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="item__price">
                                    <span class="price">{{ item.product.price }} </span>
                                    <span class="currency">руб.</span>
                                </div>
                                <a href="" class="delete-item"
                                   @click.prevent="incrementCartAmount('{{ item.product.article }}', -getInCartAmount('{{ item.product.article }}'))">
                                    <svg width="17" height="21" viewBox="0 0 17 21"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.9295 6.04168L13.4055 18.6161C13.3953 18.8621 13.1765 19.0714 12.9289 19.0714H3.78601C3.53847 19.0714 3.31954 18.8615 3.30932 18.6161L2.78539 6.04168C2.76896 5.64753 2.43613 5.34132 2.04198 5.35775C1.64784 5.37417 1.34163 5.707 1.35805 6.10115L1.88199 18.6756C1.9241 19.6863 2.77275 20.5 3.78601 20.5H12.9289C13.9415 20.5 14.7907 19.6876 14.8329 18.6756L15.3568 6.10115C15.3732 5.707 15.067 5.37417 14.6729 5.35775C14.2787 5.34132 13.9459 5.64753 13.9295 6.04168Z"
                                              fill="black"/>
                                        <path d="M7.78613 7.21431V16.9286C7.78613 17.2442 8.04197 17.5 8.35756 17.5C8.67315 17.5 8.92899 17.2442 8.92899 16.9286V7.21431C8.92899 6.89872 8.67315 6.64288 8.35756 6.64288C8.04197 6.64288 7.78613 6.89872 7.78613 7.21431Z"
                                              fill="black"/>
                                        <path d="M4.64283 7.23112L4.92854 16.9454C4.93782 17.2609 5.20107 17.5091 5.51653 17.4998C5.83198 17.4905 6.08018 17.2273 6.07091 16.9118L5.78519 7.19752C5.77591 6.88206 5.51267 6.63386 5.19721 6.64314C4.88176 6.65241 4.63355 6.91566 4.64283 7.23112Z"
                                              fill="black"/>
                                        <path d="M10.9285 7.19752L10.6428 16.9118C10.6336 17.2273 10.8818 17.4905 11.1972 17.4998C11.5127 17.5091 11.7759 17.2609 11.7852 16.9454L12.0709 7.23112C12.0802 6.91566 11.832 6.65241 11.5165 6.64314C11.2011 6.63386 10.9378 6.88206 10.9285 7.19752Z"
                                              fill="black"/>
                                        <path d="M1.21429 4.35716H15.5C15.8945 4.35716 16.2143 4.03736 16.2143 3.64287C16.2143 3.24839 15.8945 2.92859 15.5 2.92859H1.21429C0.819797 2.92859 0.5 3.24839 0.5 3.64287C0.5 4.03736 0.819797 4.35716 1.21429 4.35716Z"
                                              fill="black"/>
                                        <path d="M6.18708 3.41052L6.48451 2.36951C6.54822 2.14655 6.83724 1.92857 7.06928 1.92857H9.64557C9.87775 1.92857 10.1666 2.14636 10.2303 2.36951L10.5278 3.41052L11.9014 3.01806L11.6039 1.97705C11.3649 1.14052 10.5155 0.5 9.64557 0.5H7.06928C6.19946 0.5 5.34985 1.14075 5.11091 1.97705L4.81348 3.01806L6.18708 3.41052Z"
                                              fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </transition>
                {% endfor %}
            </div>
        </div>

        {% if product_recommendations %}
            <transition name="slide-right">
                <section v-if="cartTotalAmount > 0"
                         class="recommendations">
                    <h2 class="my-5 text-center">Рекомендуем к вашему заказу</h2>
                    <div class="carousel-recommended__wrap mb-5">
                        <div class="carousel-recommended">
                            {% for product in product_recommendations %}
                                <div class="item item--order">
                                    <div class="item__summary">
                                        <a href="/p/{{ product.article }}"
                                           class="item__picture">
                                            <img src="{{ product.image.url }}" alt="">
                                        </a>
                                        <div class="item__name">
                                            <span>{{ product.title }}</span> <br>
                                            <small class="item__category">{{ product.category.title }}</small>
                                            <div class="item__price">
                                                {% if product.price_discounted %}
                                                    <span class="price-old">{{ product.price }}</span>
                                                    <span class="price">{{ product.price_discounted }} </span>
                                                {% else %}
                                                    <span class="price">{{ product.price }} </span>
                                                {% endif %}
                                                <span class="currency">руб.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </transition>
        {% endif %}

        <transition name="slide-right">
            <div v-if="cartTotalAmount > 0" class="container container--order" id="login-modal-cart2468">
                <p class="total-sum mt-4 mb-5">
                    Сумма заказа: <b>[[ cartTotalAmount ]] руб.</b>
                </p>
                <div class="flex-between">
                    <a href="/" class="btn btn--default">Вернуться в меню</a>
                    {%if user.is_authenticated%}
                    <a href="checkout" class="btn btn--warning" >Оформить заказ</a>
                    {% else %}
                    <a href="#" class="btn btn--warning" id="sign-in-cart">Оформить заказ</a>
                    {% endif %}
                </div>
            </div>
        </transition>

    </section>
{% endblock %}
