{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}
    <section class="order-details">
        <div class="container">

            <h2 class="my-5">Заказ на доставку</h2>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">

                        <form action="{% url 'shop:checkout' %}" method="POST" class="order-form">
                            <div class="fields">
                                <input type="text"
                                       id="name"
                                       name="name"
                                       value="{{ form.name.value|default:"" }}"
                                        style="display: none"
                                       required>
                                        <input type="tel"
                                        id="phone"
                                        name="phone"
                                        value="{{ form.phone.value|default:"" }}"
                                         style="display: none"
                                        required>
                                <div class="row">
                                    <div class="col-sm">
                                        <label class="newinput"
                                               for="street"
                                               style="align-items: center; position: relative;">
                                            <input type="text"
                                               id="street"
                                               name="street"
                                               class="form-control"
                                               placeholder="Улица"
                                               value="{{ form.street.value|default:"" }}"
                                               required>
                                            {{ form.street.errors }}
                                        </label>
                                        </div>
                                    <div class="col-sm-3">
                                        <label class="newinput" for="house">
                                            <input type="text"
                                               id="house"
                                               name="house"
                                               class="form-control"
                                               placeholder="Дом"
                                               value="{{ form.house.value|default:"" }}"
                                               required>
                                            {{ form.house.errors }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                    <label class="newinput" for="room">
                                         <input type="text"
                                           id="room"
                                           name="room"
                                           class="form-control"
                                           placeholder="Квартира/офис"
                                           value="{{ form.room.value|default:"" }}"
                                           >
                                        {{ form.room.errors }}
                                    </label>
                                    </div>
                                    <div class="col-sm">
                                    <label class="newinput" for="entrance">
                                        <input type="text"
                                           id="entrance"
                                           name="entrance"
                                           class="form-control"
                                           placeholder="Подъезд"
                                           value="{{ form.entrance.value|default:"" }}"
                                           >
                                        {{ form.entrance.errors }}
                                    </label>
                                    </div>
                                    <div class="col-sm">
                                    <label class="newinput" for="floor">
                                        <input type="text"
                                           id="floor"
                                           name="floor"
                                           class="form-control"
                                           placeholder="Этаж"
                                           value="{{ form.floor.value|default:"" }}"
                                           >
                                        {{ form.floor.errors }}
                                    </label>
                                    </div>
                                    <div class="col-sm">
                                    <label class="newinput" for="doorphone">
                                        <input type="text"
                                           id="doorphone"
                                           name="doorphone"
                                           class="form-control"
                                           placeholder="Домофон"
                                           value="{{ form.doorphone.value|default:"" }}"
                                           >
                                        {{ form.doorphone.errors }}
                                    </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                <label class="newinput" for="comment">
                                    <textarea name=""
                                              id="comment"
                                              class="form-control"
                                              cols="30"
                                              placeholder="Комментарий"
                                              rows="5"></textarea>
                                    {{ form.comment.errors }}
                                </label>
                                </div>
                            </div>

                            <h2 class="my-5">Способы оплаты</h2>
                        <div class="fields">
                            <label class="form__input form__input--radio">
                                <span>Наличными</span>
                                <input type="radio"
                                       name="pay_method"
                                       value="cash"
                                       checked>
                                <span class="fake-input"></span>
                            </label>
                            <label class="form__input form__input--radio">
                                <span>Картой на сайте</span>
                                <input type="radio" name="pay_method" value="card">
                                <span class="fake-input"></span>
                            </label>
                        </div>
                        <div class="alert alert-warning"
                             role="alert"
                             style="font-size: 2rem;">
                            Доставка оплачивается отдельно.<br> После оформления заказа
                            мы Вам
                            перезвоним уточнить стоимость
                            доставки.
                        </div>
                        <div class="flex-between mt-4">
                            <a href="{% url 'shop:cart' %}" class="btn btn--default">Вернуться
                                в
                                корзину</a>
                            <button type="submit" class="submit btn btn--warning">
                                Оформить заказ на
                                <span>{{ cart_total_amount }} руб.</span></button>
                        </div>

                        </form>

                </div>



                <div class="col-lg-5 order-1 order-lg-2">
                    <div class="order-total">
                        <h2 class="mb-4">Состав заказа</h2>
                        {% for item in cart_items %}
                            <div class="order-total__item">
                                <div class="item__name">
                                    <span>{{ item.product.title }}</span> <br>
                                    <small class="item__category">{{ item.product.category.title }}</small>
                                </div>
                                <div class="order-total__sum">
                                    {% if item.amount %}
                                        <span class="multiplier">{{ item.amount }} x </span>
                                    {% endif %}
                                    <span>{{ item.product.price }} руб.</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="order-total__item">
                            <div class="item__name">
                                <span>Стоимость заказа</span>
                            </div>
                            <div class="order-total__sum">
                                <span>{{ cart_total_amount }} руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
