{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}
    <section class="order-details">
        <div class="container">
            <h2 class="my-5">Заказ на доставку</h2>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <form action="{% url 'shop:order-create' %}" method="POST" class="order-form">
                        <div class="fields">
                            <label class="form__input" for="name">
                                <span>Имя</span>
                                <input type="text" id="name" name="name">
                            </label>
                            <label class="form__input" for="phone">
                                <span>Номер телефона</span>
                                <span class="input">
{#                                 <input type="tel" value="+7 999 156-07-77">#}
                                 <input type="tel" id="phone" name="phone">
{#                                <button>Изменить</button>#}
                            </span>
                            </label>
                            <label class="form__input" for="address">
                                <span>Адрес доставки</span>
                                <span class="input">
                                <input type="text" id="address" name="address">
{#                                <button>Изменить</button>#}
                            </span>
                            </label>
                        </div>
                        {#                        <h2 class="my-5">Заказ на доставку</h2>#}
                        {#                        <div class="fields">#}
                        {#                            <label class="form__input">#}
                        {#                                <span>Промокод</span>#}
                        {#                                <span class="input">#}
                        {#                                <input type="text">#}
                        {#                                <button>Изменить</button>#}
                        {#                            </span>#}
                        {#                            </label>#}
                        {#                            <label class="form__input score">#}
                        {#                                <span>У вас 63 балла</span>#}
                        {#                                <span class="input">#}
                        {#                                <input type="tel">#}
                        {#                                <button>Списать</button>#}
                        {#                            </span>#}
                        {#                            </label>#}
                        {#                        </div>#}
                        <h2 class="my-5">Способы оплаты</h2>
                        <div class="fields">
                            <label class="form__input form__input--radio">
                                <span>Наличными</span>
                                <input type="radio" name="pay_method" value="cash" checked>
                                <span class="fake-input"></span>
                            </label>
                            <label class="form__input form__input--radio">
                                <span>Картой на сайте</span>
                                <input type="radio" name="pay_method" value="card">
                                <span class="fake-input"></span>
                            </label>
                        </div>
                        <div class="flex-between mt-4">
                            <a href="/cart" class="btn btn--default">Вернуться в
                                корзину</a>
                            <button type="submit" class="submit btn btn--warning">
                                Оформить заказ на <span>{{ cart_total_amount }} руб.</span></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <div class="order-total">
                        <h2 class="mb-4">Состав заказа</h2>
                        {% for item in cart_items %}
                            <div class="order-total__item">
                                <div class="item__name">
                                    <span>{{ item.product.title }}</span> <br>
                                    <small class="item__category">{{ item.product.category.title }}</small>
                                </div>
                                <div class="order-total__sum">
                                    {% if item.amount %}
                                        <span class="multiplier">{{ item.amount }} x </span>
                                    {% endif %}
                                    <span>{{ item.product.price }} руб.</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="order-total__item">
                            <div class="item__name">
                                <span>Стоимость заказа</span>
                            </div>
                            <div class="order-total__sum">
                                <span>{{ cart_total_amount }} руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
