{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="contacts">
        <div class="container">
            <h2 class="text-center">Наши рестораны</h2>
            <div class="row addresses my-5">
                <div class="col-md-4 col-lg-3 offset-md-2 offset-lg-3 addresses__item">
                    <b>ул. Кремлевская, д. 19</b> <br><br> <span>8:00-22:00</span>
                </div>
                <div class="col-md-4 col-lg-3 addresses__item">
                    <b>ул. Чистопольская, д.36</b> <br><br> <span>7:00-22:00 (вых: 8:00-22:00)</span>
                </div>
            </div>

            <div class="eclair-map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6a9ce24f2060815a580a96511b14da1b7340ed730af58fbc2e4f89f4d0a6872f&amp;source=constructor"
                        width="100%" height="400" frameborder="0"></iframe>
            </div>

            <div class="contact-us text-center">
                <h2 class="my-5">Связаться с нами</h2>
                <div class="contact-us__item">
                    <h3>Телефон</h3>
                    <a href="tel:+79625658560">+7-962-565-85-60</a>
                </div>
                <div class="contact-us__item">
                    <h3>Мы в соцсетях</h3>
                    <a href="#">Instagram</a> <br>
                    <a href="#">Facebook</a> <br>
                    <a href="#">TikTok</a> <br>
                    <a href="#">Youtube</a> <br>
                    <a href="#">Vk.com</a>
                </div>
            </div>

        </div>
    </section>

{% endblock %}