{% extends "shop/base/base.html" %}
{% load static %}

{% block js_extra %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=05e8f966-07f3-4153-a375-86e198861a29"
            type="text/javascript"></script>
    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                center: [55.808078, 49.119505],
                zoom: 13
            }, {
                searchControlProvider: 'yandex#search'
            })

            myMap.geoObjects
            {% for addr in addresses %}
                {% if addr.coordinates %}
                    .add(new ymaps.Placemark([{{addr.coordinates}}], {
                            balloonContent: '{{ addr.location }}',
                            iconCaption: '{{ addr.name }}'
                        })
                    )
                {% endif %}
            {% endfor %}
        });
    </script>
    <style>
    html, body, #map {
        width: 100%; height: 100%; padding: 0; margin: 0;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="contacts">
        <div class="container">
            <h2 class="text-center">Наши рестораны</h2>
            <div class="row addresses my-5">
                {% for address in addresses %}
                    <div class="col-md-4 col-lg-3 {% if forloop.first %}offset-md-2 offset-lg-3{% endif %} addresses__item">
                        <b>{{ address.location }}</b> <br><br>
                        <span>{{ address.work_hours }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="eclair-map">
                <div id="map" style="height: 100%; width: 100%"></div>
            </div>

            <div class="contact-us text-center">
                <h2 class="my-5">Связаться с нами</h2>
                <div class="contact-us__item">
                    <h3>Телефон</h3>
                    {% for phone in phones %}
                        <a href="tel:{{ phone.number }}">{{ phone.number }}</a>
                    {% endfor %}
                </div>
                <div class="contact-us__item">
                    <h3>Мы в соцсетях</h3>
                    {% if social.instagramm %}
                        <a href="{{ social.instagramm.link }}">Instagram</a> <br>
                    {% endif %}
                    {% if social.facebook %}
                        <a href="{{ social.facebook.link }}">Facebook</a> <br>
                    {% endif %}
                    {% if social.tiktok %}
                        <a href="{{ social.tiktok.link }}">TikTok</a> <br>
                    {% endif %}
                    {% if social.yotube %}
                        <a href="{{ social.yotube.link }}">Youtube</a> <br>
                    {% endif %}
                    {% if social.vk %}
                        <a href="{{ social.vk.link }}">Vk.com</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}