{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="news">
        <div class="container">
            <h2 class="text-center">Новости</h2>

            <div class=" row mt-5">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span>Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span> Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span>Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span> Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span>Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <a href="news-item.html" class="item__picture">
                            <img src="/static/img/news-img.png" alt="">
                        </a>
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Заголовок</span> <br>
                                <span class="item__subtext">21.12.2020</span>
                            </div>
                            <div class="item__description">
                                <span> Первая наша кондитерская на Чистопольской открылась 8 декабря 2017 года. </span>
                            </div>
                            <a href="#" class="btn btn--default">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <ul class="pagination__list">
                    <li class="active"><a href="">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="dots">...</li>
                    <li><a href="#">9</a></li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}