{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="form-wrapper review">
        <h2 class="text-center mb-5">Оставить отзыв</h2>
        <!--    <p class="text-center">Зарегистрируйтесь прежде чем оставлять комментарии</p>-->
        <form action="#" class="form form--default">
            <div class="fields">
                <label class="form__input">
                    <span>Ваше имя</span>
                    <input type="text">
                </label>

                <label class="form__input rating__wrap">
                    <span>Оценка</span>
                    <div class="rating__group">
                        <input class="rating__input" type="radio" name="health"
                               id="review-1" value="1" checked="">
                        <label class="rating__star" for="review-1"
                               aria-label="Ужасно"></label>

                        <input class="rating__input" type="radio" name="health"
                               id="review-2" value="2">
                        <label class="rating__star" for="review-2"
                               aria-label="Сносно"></label>

                        <input class="rating__input" type="radio" name="health"
                               id="review-3" value="3">
                        <label class="rating__star" for="review-3"
                               aria-label="Нормально"></label>

                        <input class="rating__input" type="radio" name="health"
                               id="review-4" value="4">
                        <label class="rating__star" for="review-4"
                               aria-label="Хорошо"></label>

                        <input class="rating__input" type="radio" name="health"
                               id="review-5" value="5">
                        <label class="rating__star" for="review-5"
                               aria-label="Отлично"></label>

                        <div class="rating__focus"></div>
                    </div>
                </label>

                <label class="form__input">
                    <span>Напишите ваш отзыв</span>
                    <textarea placeholder="отзыв" maxlength="120"></textarea>
                </label>
            </div>
            <div class="form__submit mt-5">
                <button type="submit" class="submit btn btn--warning">Отправить</button>
            </div>
        </form>
    </section>

{% endblock %}