{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="vacancies">
<!--        <div class="container">-->
<!--            <h2 class="text-center mb-5">-->
<!--                Вакансии-->
<!--            </h2>-->
<!--            <div class="vacancies__wrap">-->
<!--                -->
<!--            </div>-->
<!--        </div>-->
        <div class="container">
            <h2 class="text-center">Вакансии Eclair</h2>

            <div class=" row mt-5">

                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Повар-универсал</span> <br>
                                <span class="item__subtext">От 40 000 р. на руки</span>
                            </div>
                            <div class="item__description">
                                <span>ECLAIR-это блюда и десерты, предназначенные для удовлетворения не только вкусовых, но и эстетических потребностей наших гостей!
И мы, приглашаем в нашу команду открытых, дисциплинированных, жизнерадостных, людей на должность Повар-Универсал</span>
                            </div>
                            <a href="https://samara.hh.ru/vacancy/46316158" class="btn btn--default">Подробнее на hh.ru</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Слойщик-Кондитер</span> <br>
                                <span class="item__subtext">От 30 000 р. на руки</span>
                            </div>
                            <div class="item__description">
                                <span>Кондитерские изделия от ECLAIR-это десерты, предназначенные для удовлетворения не только вкусовых, но и эстетических потребностей наших гостей! И мы, приглашаем в нашу команду открытых, дисциплинированных, жизнерадостных, людей на должность Слойщика-Кондитера</span>
                            </div>
                            <a href="https://samara.hh.ru/vacancy/46316158" class="btn btn--default">Подробнее на hh.ru</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Пекарь</span> <br>
                                <span class="item__subtext">От 35 000 до 45 000 р. на руки</span>
                            </div>
                            <div class="item__description">
                                <span>Выпечка и Кондитерские изделия от ECLAIR - это десерты, предназначенные для удовлетворения не только вкусовых, но и эстетических потребностей наших гостей! И мы, приглашаем в нашу команду энергичных, открытых, дисциплинированных, жизнерадостных сотрудников умеющих либо очень желающих печь настоящий хлеб</span>
                            </div>
                            <a href="https://samara.hh.ru/vacancy/46311517" class="btn btn--default">Подробнее на hh.ru</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <div class="item item--default item--news">
                        <div class="item__summary">
                            <div class="item__name">
                                <span>Бариста-Кассир</span> <br>
                                <span class="item__subtext">От 30 000 до 45 000 р. на руки</span>
                            </div>
                            <div class="item__description">
                                <span>Выпечка и Кондитерские изделия от ECLAIR - это десерты, предназначенные для удовлетворения не только вкусовых, но и эстетических потребностей наших гостей! И мы, приглашаем в нашу команду открытых, дисциплинированных, жизнерадостных, умеющих либо очень желающих научится готовить кофе, людей на должность Бариста-кассир</span>
                            </div>
                            <a href="https://samara.hh.ru/vacancy/45653945" class="btn btn--default">Подробнее на hh.ru</a>
                        </div>
                    </div>
                </div>

            </div>

    </section>

{% endblock %}
