{% extends "shop/base/base.html" %}
{% load static %}

{% block content %}

    <section class="vacancies">
        <div class="container">
            <h2 class="text-center mb-5">
                Вакансии
            </h2>
            <div class="vacancies__wrap">
                <script class="hh-script"
                        src="https://api.hh.ru/widgets/vacancies/employer?employer_id=818746&locale=RU&links_color=1560b2&border_color=1560b2"></script>
            </div>
        </div>
    </section>

{% endblock %}
