<div class="modal" id="login-modal">
    <div class="modal__wrap order-form">
        <a href="#" class="modal__close">
            <svg width="32"
                 height="32"
                 viewBox="0 0 32 32"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12.728 15.5563L0 28.2843L2.82837 31.1127L15.5564 18.3847L28.2844 31.1128L31.1129 28.2844L18.3848 15.5563L31.1127 2.82843L28.2843 0L15.5564 12.7279L2.82861 9.15527e-05L0.000244141 2.82852L12.728 15.5563Z"
                      fill="white"/>
            </svg>
        </a>
        <h2 class="mb-4">Вход на сайт</h2>
        <input type="hidden" name="request-id">
        <label class="form__input mb-4 login-stage-1 active">
            <span>Номер телефона</span>
            <span class="input">
                     <input type="tel"
                            name="phone"
                            placeholder="+7 (888) 888-88-88"
                            required>
                    <ul class="errorlist" id="err-phone"></ul>
                    <button id="change-phone">Изменить</button>
                </span>
        </label>
        <label class="form__input mb-4 login-stage-2">
            <span>Код из СМС</span>
            <span class="input">
                <input type="text" name="code" required>
                <ul class="errorlist" id="err-code"></ul>
                    <button id="resend-code" class="tooltip">Выслать новый код
                    <span class="tooltiptext">Повторная отправка доступна через минуту</span>
                    </button>
                </span>
        </label>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn--warning login-btn">Продолжить</a>
            </div>
            <div class="col-md-8 d-flex align-center">
                    <span class="personal-data">
                        Продолжая, вы соглашаетесь
                        <a href="#">со сбором и обработкой персональных данных и пользовательским соглашением</a>
                    </span>
            </div>
        </div>
    </div>
</div>
