{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eclair</title>
<link href="{% static 'main.css' %}" rel="stylesheet"></head>

<body>

{% include "shop/base/header.html" %}

{% block content %}{% endblock %}

{% include "shop/base/footer.html" %}

<script type="text/javascript" src="{% static 'app.bundle.js' %}"></script>

</body>
