{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eclair</title>
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'animation.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app">
    {% include "shop/base/header.html" %}

    {% block content %}{% endblock %}

    {% include "shop/base/footer.html" %}
</div>
<script type="text/javascript" src="{% static 'app.bundle.js' %}"></script>

<script>
    const app = Vue.createApp(
        {
            delimiters: ["[[", "]]"],
            el: '#app',
            data() {
                return {
                    cartAmount: {{ cart.qty_total|default:"0" }},
                    productCartAmount: {{ cart.products_amount|safe|default:"{}" }},
                    productCartPrice: {{ cart.products_price|safe|default:"0" }}
                }
            },
            methods: {
                incrementCartAmount(article, amount) {
                    axios.put("/api/cart", {
                        article: article,
                        amount: amount
                    })
                        .then(() => {
                            this.productCartAmount[article] = this.getInCartAmount(article) + amount
                            this.cartAmount += amount
                        })
                        .catch(response => (console.error(response)))
                },
                getInCartAmount(article) {
                    if (!this.productCartAmount[article]) {
                        return 0
                    }
                    return this.productCartAmount[article]
                }
            },
            computed: {
                cartTotalAmount() {
                    let sum = 0.00
                    for (const [article, price] of Object.entries(this.productCartPrice)) {
                        let qty = this.productCartAmount[article]
                        sum += qty * price
                    }
                    return sum.toFixed(2)
                }
            }
        }
    ).mount('#app');
</script>
</body>
