{% load static %}

<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__wrap">
            <a href="/" class="logo">
                <img src="{% static 'img/logo-dark.svg' %}" alt="ECLAIR">
            </a>
            <div class="footer__item">
                <h3>Карта сайта</h3>
                <ul>
{#                    <li><a href="cake-order">Торт на заказ</a></li>#}
                                        <li><a href="about">О нас</a></li>
                                        <li><a href="contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3>Номер и адреса</h3>
                <ul>
                    {% for phone in phones %}
                    <li><a href="tel:{{ phone.number }}">{{ phone.number }}</a></li>
                    {% endfor %}
                {% for address in addresses %}
                    <li>{{ address.location }} <br>
                        {{ address.work_hours }}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="footer__item">
                <h3>Мы в соцсетях</h3>
                <div class="footer__socials">
                    {% if social.instagramm %}
                        <a href="{{ social.instagramm.link }}">
                            <img src="{% static 'img/icons/social/instagram.svg' %}"
                                 alt="instagram">
                        </a>
                    {% endif %}
                    {% if social.facebook %}
                        <a href="{{ social.facebook.link }}">
                            <img src="{% static 'img/icons/social/facebook.svg' %}"
                                 alt="facebook">
                        </a>
                    {% endif %}
                    {% if social.tiktok %}
                        <a href="{{ social.tiktok.link }}">
                            <img src="{% static 'img/icons/social/tiktok.svg' %}"
                                 alt="tiktok">
                        </a>
                    {% endif %}
                    {% if social.yotube %}
                        <a href="{{ social.yotube.link }}">
                            <img src="{% static 'img/icons/social/youtube.svg' %}"
                                 alt="youtube">
                        </a>
                    {% endif %}
                    {% if social.vk %}
                        <a href="{{ social.vk.link }}">
                            <img src="{% static 'img/icons/social/vk.svg' %}" alt="vk">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="footer__item">
                <h3>Способы оплаты</h3>
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/icons/payments/visa.svg' %}"
                             alt="visa">
                    </div>
                    <div class="col-4">
                        <img src="{% static 'img/icons/payments/mastercard.svg' %}"
                             alt="mastercard">
                    </div>
                    <div class="col-4">
                        <img src="{% static 'img/icons/payments/mir.svg' %}"
                             alt="mir">
                    </div>
                </div>
            </div>
            {% if social.google_play or social.app_store %}
                <div class="footer__item">
                    <h3>Для мобильных устройств</h3>
                    <div class="row">
                        {% if social.google_play %}
                            <div class="col-6">
                                <a href="{{ social.google_play.link }}"><img
                                        src="{% static 'img/google-play.png' %}" alt=""></a>
                            </div>
                        {% endif %}
                        {% if social.app_store %}
                            <div class="col-6">
                                <a href="{{ social.app_store.link }}"><img
                                        src="{% static 'img/app-store.png' %}"
                                        alt=""></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <p class="developers">Разработано в <a href="#">PickOnClick</a></p>
    </div>
</footer>